@tailwind base;
@tailwind components;
@tailwind utilities;

.avatar-blob-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.avatar-blob {
    overflow: hidden;
}